@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFFFFF;
  --black: #000000;
  }
}

body {
  color: var(--black);
  background: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
